#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Type=Application
Exec=/opt/group.chon/simulide/simulide
Name=SimulIDE (Revision 1936)
Comment=SimulIDE Circuit Simulator
Categories=Development;Engineering;IDE;
Icon=/usr/share/icons/group.chon/simulide.png
