#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Type=Application
Exec=/opt/chonos-embMAS/lib/simulide/simulide
Name=SimulIDE (Revision 1448)
Comment=SimulIDE Circuit Simulator
Categories=Development;Engineering;IDE;
Icon=/usr/share/icons/group.chon/simulide.png
