Package: chonos-simulide
Version: 1.1.0-240929
Priority:
Architecture: amd64
Essential:
Depends: libfuse-dev
Pre-depends: javino, chonos-serial-port-emulator, libc-bin, gawk
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts: chonos
Replaces:
Provides:
Description: SimulIDE Circuit Simulator
